<table class="tableau">
 <tr>
 <th><a href='/trier/id/asc'>ID</a></th>
 <th><a href='/trier/nom/asc'>Nom</a></th> 
 <th><a href='/trier/prenom/asc'>Prenom</a></th>
 <th><a href='/trier/telephone/asc'>Telephone</a></th>
 <th>Ajouter</th> 
 </tr>
 <% adresses.forEach(elm => {%>
 <tr>
 <td><%= elm._id %></td>
 <td contenteditable='true'><%= elm.nom %></td>
 <td contenteditable='true'><%= elm.prenom %></td>
 <td contenteditable='true'><%= elm.telephone %></td>
 <td><a href="/delete/<%= elm._id %>">Delete</a></td>
 <td><a class='sauver' href="#">Sauver</a></td>
 </tr>
 <% }) %>
 </table>